<div class="prog">

	<h1 class="prog__title"    ng-bind="model.title"></h1>
	<p  class="prog__subtitle" ng-bind="model.subtitle"></p>

	<!-- nav -->
	<div class="nav">
		<a class="nav__prev" href="#" ng-click="api.navigate.prev()">
			<i class="icon icon-navigation-white icon-navigation-white-ic_chevron_left_white_24dp"></i>
		</a>
		<a class="nav__menu" href="#" ng-click="api.navigate.menu()">
			<i class="icon icon-navigation-white icon-navigation-white-ic_menu_white_24dp"></i>
		</a>
		<a class="nav__next" href="#" ng-click="api.navigate.next()">
			<i class="icon icon-navigation-white icon-navigation-white-ic_chevron_right_white_24dp"></i>
		</a>
	</div>
	<!-- END nav -->

	

</div>